{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% for experience in experiences.info %}
  <div class="item">

    <div class="meta">

      <div style="display: flex; justify-content: flex-start">
        <div style="margin-right: 10px; min-width: 30px;">
          <img src="{{ experience.logo }}" alt="" width="30px">
        </div>
        <div style="width: 100%;">
          <div class="upper-row">
            <h3 class="job-title">{{ experience.role }}</h3>
          </div><!--//upper-row-->
          <div style="display: flex; justify-content: space-between;">
            <div class="company">{{ experience.company }}</div>
            <div class="time">{{ experience.time }}</div>
          </div>
        </div>
      </div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}